@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@531&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

html, body{
	background: #edebe6;
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper{
	display: flex;
	position: relative;
	min-height: 100%;
}

.wrapper .sidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	background: #cd1338;
	padding: 30px 0px;
}

.wrapper .sidebar img{
	width: auto;
	height: 100px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.wrapper .sidebar ul li{
	padding: 15px;
}
.wrapper .sidebar ul li a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	padding-left: 10px;
}

.wrapper .sidebar ul li:hover{
	background: #a30f2c;
}

.wrapper .sidebar .social-media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-bottom: 20px;
	margin-top: 30px;
}

.navbar{
	background: #cd1338;
}

.navbar button{
	color: white;
	border: 1px solid white;
	border-radius: 0px;
}

.navbar button:hover{
	color: #cd1338;
	background: white;
	border: 1px solid white; 
}

.navbar .form-control{
	width: 150px;
	border-radius: 0px;
}

.wrapper .sidebar .social-media a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: white;
	margin-top: 20px;
}

.wrapper .sidebar .social-media a:hover{
	background: #a30f2c;
}

.wrapper .main_content{
	width: 100%;
	padding-left: 250px;
}

.wrapper .main_content .food{
	text-align: center;
	color: #cd1338;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}












.footer{
	background:#9c9898;
	color: white;
	height: 150px;
	width: 80%;
	margin-top: 305px;
	bottom: 0px;
	position: absolute;
	margin-left: 250px;


}

.footer .copyright{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgba(255, 255, 255, 0.85);
  	color: #302e2e;
  	text-align: center;
  	height: 12px;
  	font-size: 8px;
}

.footer-content{
	height: 150px;
	display: flex;
	width: 100%;
}

.footer .footer-content .footer-section{
	padding-top: 20px;
	padding-left: 30px;
	flex: 1;
}

.footer .footer-content .footer-section a{
	color: white;
	font-size: 14px;
	display: flex;
	text-decoration: none;
}

.footer .footer-content .footer-section a:hover{
	color: #cd1338;
}

.footer .footer-content .footer-section p{
	font-size: 12px;
	padding-top: 20px;
}

.footer .footer-content .footer-section-kanan{
	padding-top: 20px;
	flex: 1;
	padding-left: 450px;
}

.footer .footer-content .footer-section-kanan a{
	color: white;
	text-decoration: none;
	display: flex;
	font-size: 14px;
	margin-right: 20px;
}

.footer .footer-content .footer-section-kanan a:hover{
	color: #cd1338;
}

.search-button{
	color: white;
	background: #cd1338;
	border-radius: 10px;
	width: 95%;
}