@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@531&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

html, body{
	background: #edebe6;
	height: 100%;
}

.wrapper{
	display: flex;
	position: relative;
	min-height: 100%;
}

.wrapper .sidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	background: #cd1338;
	padding: 30px 0px;
}

.wrapper .sidebar img{
	width: auto;
	height: 100px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.wrapper .sidebar ul li{
	padding: 15px;
}
.wrapper .sidebar ul li a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	padding-left: 10px;
}

.wrapper .sidebar ul li:hover{
	background: #a30f2c;
}

.navbar{
	background: #cd1338;
}

.navbar button{
	color: white;
	border: 1px solid white;
	border-radius: 0px;
}

.navbar button:hover{
	color: #cd1338;
	background: white;
	border: 1px solid white; 
}

.navbar .form-control{
	width: 150px;
	border-radius: 0px;
}

.wrapper .sidebar .social-media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-bottom: 20px;
}

.wrapper .sidebar .social-media a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: white;
}

.wrapper .sidebar .social-media a:hover{
	background: #a30f2c;
}

.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
}

.wrapper .main_content .header{
	padding: 20px;
	background: #21b7ce;
	margin-left: 50px;
	color: white;
} 

.wrapper .main_content .header a{
	color: yellow;
	text-decoration-line: none;
}

.wrapper .main_content .info{
	margin-left: 50px;
	padding-bottom: 20px;
}

.wrapper .main_content .info .slidershow{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.wrapper .main_content .info .slidershow .middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.wrapper .main_content .info .slidershow .navigation{
	position: absolute;
	bottom: 20px;
	left: 60%;
	transform: translateX(-50%);
}

.wrapper .main_content .info .slidershow .navigation .bar{
	width: 50px;
	height: 10px;
	border: 2px solid  #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}
.wrapper .main_content .info .slidershow .navigation .active, .bar:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.wrapper .main_content .info .slidershow .slides{
	width: 500%;
	height: 50%;
	display: flex;
}

.wrapper .main_content .info .slidershow .slides .slide{
	width: 20%;
	transition: 0.6s;
}

.wrapper .main_content .info .slidershow .slides .slide img{
	width: 100%;
	height: 100%;
}
.wrapper .main_content .info .slidershow .slides .slide video{
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1{
	margin-left: 0;
}

#r2:checked ~ .s1{
	margin-left: -20%;
}

#r3:checked ~ .s1{
	margin-left: -40%;
}

#r4:checked ~ .s1{
	margin-left: -60%;
}

#r5:checked ~ .s1{
	margin-left: -80%;
}

.food{
	margin-left: 200px;
	padding-bottom: 10px;
}

.food h1{
	text-align: center;
	color: #cd1338;
}

.food img{
	width: 50%;
	height: 50%;
	float: right;
}

.food hr{
	height: 5px;
}

.food h3{
	margin-left: 65px;
	text-transform: uppercase;
	color: #cd1338;
	float: left;
}

.food p{
	margin-left: 65px;
	font-size: 17px;
	margin-top: 20px;
}

.food button{
	color: white;
	margin-left: 65px;
	margin-top: 10px;
	background: #cd1338;
	text-decoration: none;
	cursor: pointer;
	border-radius: 20px;
	padding: 5px 10px;
	border-color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.food button:hover, button:focus, button:active{

	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer{
	background:#9c9898;
	color: white;
	height: 150px;
	margin-top: 305px;
	width: 100%;
}

.footer .copyright{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgba(255, 255, 255, 0.85);
  	color: #302e2e;
  	text-align: center;
  	height: 12px;
  	font-size: 8px;
}

.footer-content{
	height: 150px;
	display: flex;
	padding-left: 250px;
	width: 100%;
	padding-top: 20px;
}

.footer .footer-content .footer-section{
	padding-top: 20px;
	padding-left: 30px;
	flex: 1;
}

.footer .footer-content .footer-section a{
	color: white;
	font-size: 14px;
	display: flex;
	text-decoration: none;
}

.footer .footer-content .footer-section a:hover{
	color: #cd1338;
}

.footer .footer-content .footer-section p{
	font-size: 12px;
	padding-top: 20px;
}

.footer .footer-content .footer-section-kanan{
	padding-top: 20px;
	flex: 1;
	padding-left: 450px;
}

.footer .footer-content .footer-section-kanan a{
	color: white;
	text-decoration: none;
	display: flex;
	font-size: 14px;
}

.footer .footer-content .footer-section-kanan a:hover{
	color: #cd1338;
}